* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'fixedsys', ariel, serif, auto;
    transition: all .3s linear;
    font-family: 'fixedsys', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0;
}

@font-face {
    font-family: "fixedsys";
    src: url("fonts/Roboto-Regular.ttf");

}

.top-bar {
    height: 7vmin;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #333;
    color: #eee;
}

.corner-logo {
    height: 5vmin;
    width: 5vmin;
    margin: 1vmin;
    border-radius: 1vmin;
}

body {
    background-color: #fff;
    animation: scroll 20s linear infinite;
    font-size: 2vmin;
    background-size: cover;
    background-repeat: repeat;
    background-image: linear-gradient(-240deg, #7ccfc5, #3fccff, #3fccff, #8fcfcf, #3fccff, #7ccfc5);
}

.heading {
    font-size: 10vmin;
    color: #eee;
    background-color: #0008;
    max-width: 100vw;
}

.subheading {
    font-size: 4vmin;
    color: #eee;
    background-color: #0008;
    max-width: 100vw;
}

:root {
    --init-scale: 0.5;
    --loader-cycle-duration: 1s;
    --final-scale: 0.65;
}

h1 {
    color: #eee;
    margin-right: 2vmin;
    background-color: #333;
    padding: 2vmin;
    border: none;
    width: 100%;
    font-size: 4vmin;
    text-align: left
}

.flex-container {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-scroll-container {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.main-slide {
    height: 60vmin;
    width: 80vmin;
    background-color: #eee;
    border-radius: 1vmin 1vmin 0 0;
    background-image: url('test-slide.jpg');
    background-size: contain;
    box-shadow: .5vmin .5vmin #ddd;
}

.main-slide-desc {
    height: 20vmin;
    width: 80vmin;
    background-color: #eee;
    border-radius: 0 0 1vmin 1vmin;
    box-shadow: .5vmin .5vmin #ddd;
}

.left-menu {
    height: 100vh;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: #0008;
    width: 100vw;
    display: none;
}

.types-disp-grid {
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin;
    grid-gap: 1vmin;
}

.types-disp-grid-item {
    height: 20vmin;
    width: 20vmin;
    background-color: #eee;
    border-radius: 1vmin 1vmin 0 0;
    box-shadow: .5vmin .5vmin #0008;
    padding: 1vmin;
}

.types-disp-grid-item-desc {
    height: auto;
    min-height: 3vmin;
    line-height: 3vmin;
    width: 20vmin;
    background-color: #eee;
    border-radius: 0 0 1vmin 1vmin;
    box-shadow: .5vmin .5vmin #0008;
}

.contacts-grid {
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin;
    grid-gap: 2vmin;
}

.contact-btn {
    height: 20vmin;
    width: 20vmin;
    background-size: contain;
}

.contact-btn:hover {
    height: 15vmin;
    width: 15vmin;
    margin: 2.5vmin;
}

.contact-btn-text {
    height: 3vmin;
    line-height: 3vmin;
    width: 20vmin;
    text-align: center;
    color: #000;
}

.flex-container-half {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.enquire-box-container {
    width: 40vmin;
    height: auto;
    min-height: 50vmin;
    max-height: 80vh;
    background-color: #eee;
    border-radius: 1vmin;
    padding: 2vmin;
}

.enquire-box-container>input,
.enquire-box-container>button {
    width: 100%;
    height: 5vmin;
    margin-bottom: 2vmin;
    border: none;
    background-color: #fff;
    border-radius: 1vmin;
    line-height: 4vmin;
    padding: .5vmin;
}

.enquire-box-container>textarea {
    width: 100%;
    height: 15vmin;
    margin-bottom: 2vmin;
    border: none;
    background-color: #fff;
    border-radius: 1vmin;
    line-height: 4vmin;
    padding: .5vmin;
}

.enquire-box-container>button:hover {
    background-color: #ddd;
    border-radius: 1vmin;
}

.quality-item-grid-ltr {
    display: grid;
    grid-template-columns: 20vmin 60vmin;
    grid-template-areas: "img div";
}

.quality-item-grid-rtl {
    display: grid;
    grid-template-columns: 60vmin 20vmin;
    grid-template-areas: "div img";
}

.quality-item-grid-ltr>img,
.quality-item-grid-rtl>img {
    height: 20vmin;
    width: 20vmin;
    grid-area: img;
}

.quality-item-grid-ltr>div,
.quality-item-grid-rtl>div {
    height: 20vmin;
    width: 60vmin;
    line-height: 20vmin;
    grid-area: div;
    font-size: 5vmin;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 32vmin 32vmin 32vmin;
    grid-gap: 1vmin;
}

.gallery-grid-item {
    height: 24vmin;
    width: 32vmin;
    background-color: #eee;
    border-radius: 1vmin 1vmin 0 0;
    box-shadow: .5vmin .5vmin #0008;
    background-image: url('test-slide.jpg');
    background-size: contain;
}

.gallery-grid-item-desc {
    height: auto;
    min-height: 3vmin;
    line-height: 3vmin;
    width: 32vmin;
    background-color: #eee;
    border-radius: 0 0 1vmin 1vmin;
    box-shadow: .5vmin .5vmin #0008;
}